*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
  }
main{
  height: 100vh;
  background: url('https://source.unsplash.com/1500x800?ocean');
  display: grid;
  align-items: center;
  justify-content: center;
}
main h1{
  color: #2C5364;
  mix-blend-mode: difference;
  font-size: 50px;
}
.button{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  background: #6190E8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
ul{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
ul li{
  padding: 10px 18px;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-left: 10px;
  border-radius: 10px;  
}
ul li a{
  color: #fff;
}
              



